<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <% include ../partials/css %>
</head>
<body id="page-top">
  <% include ../partials/navbar %>

  <!-- Header -->
  <header>
    <div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item">
          <img class="first-slide" src="/img/carousel/1.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="/img/carousel/2.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
        <div class="item active">
          <img class="third-slide" src="/img/carousel/3.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  </header>

  <!-- How it Works Section -->
  <!-- <section id="services">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Abstract</h2>
                  <h3 class="section-subheading text-muted">Kuka Pong is... </h3>
              </div>
          </div>
          <div class="row text-center">
              <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading">Virtual Reality (Oculus Rift)</h4>
                  <p class="text-muted">Install the SDK into your Unreal development engine to empower your Oculus Rift.</p>
              </div>
              <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading">Kuka Pong Servers</h4>
                  <p class="text-muted">Our servers connect your devices and headsets via web socket technology to produce the highest performance. In addition, our servers perform analysis and logging so you're free to focus on feature development. </p>
              </div>
              <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading">Connected Devices</h4>
                  <p class="text-muted">Develop state-of-the-art web applications that will be able to interact with your headset(s).</p>
              </div>
          </div>
      </div>
  </section> -->

<!-- About Section -->
  <section id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Timeline</h2>
                  <h3 class="section-subheading text-muted">A project for Stanford University CS225A: Experimental Robotics</h3>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-12">
                  <ul class="timeline">
                      <li style="margin-bottom:50px;">
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>April 2015</h4>
                                  <h4 class="subheading">The Start of a Journey</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Team Kuka Pong is formed and begins planning and building a ping pong playing robot.</p>
                              </div>
                          </div>
                      </li>
                      <li class="timeline-inverted">
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/9.jpg" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>May 14, 2015</h4>
                                  <h4 class="subheading">Milestone One: Basic Functionality</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">After initial testing and development, we will have a tracking system for the ping pong ball, results from our controller, and the KUKA should be able to intersect the trajectory.</p>
                              </div>
                              <hr>
                              <div class="timeline-heading">
                                  <h4 class="subheading">Goals</h4>
                              </div>
                              <div class="timeline-body">
                                  <ul>
                                    <li><p class="text-muted">Track ball position using Omnitrak vision system outputting position and velocity</p>
                                    </li>
                                    <li><p class="text-muted">Filter and smooth the position data
                                    </p></li>
                                    <li><p class="text-muted">Predict ball trajectory
                                    </p></li>
                                    <li><p class="text-muted">Move end effector with paddle to intercept the ball (orientation of paddle will not be accounted for yet)
                                    </p></li>
                                  <ul>
                              </div>
                          </div>
                      </li>

                      <li>
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/7.jpg" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>May 29, 2015</h4>
                                  <h4 class="subheading">Milestone Two: Minimal Functioning Demo</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">We will have the KUKA return the ping pong ball from any part of the court.</p>
                              </div>
                              <hr>
                              <div class="timeline-heading">
                                  <h4 class="subheading">Goals</h4>
                              </div>
                              <div class="timeline-body">
                                  <ul>
                                    <li><p class="text-muted">Orient paddle for desired swing trajectory</p>
                                    </li>
                                    <li><p class="text-muted">Achieve desired swing velocity at impact
                                    </p></li>
                                    <li><p class="text-muted">Create state machine to simplify control logic and for easier incremental development
                                    </p></li>
                                    <li><p class="text-muted">Return ball to desired position
                                    </p></li>
                                  <ul>
                              </div>
                          </div>
                      </li>

                      <li class="timeline-inverted">
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/8.jpg" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>June 4, 2015</h4>
                                  <h4 class="subheading">Final Demonstration and Experimental Features</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">We will have a working demo where the Kuka robot will be able to play ping pong with a human. Some experimental features may include shot selection, human tracking, and a victory dance</p>
                              </div>
                              <hr>
                              <div class="timeline-heading">
                                  <h4 class="subheading">Goals</h4>
                              </div>
                              <div class="timeline-body">
                                  <ul>
                                    <li><p class="text-muted">Reset robot to neutral position</p>
                                    </li>
                                    <li><p class="text-muted">Successful volley (multiple returns)
                                    </p></li>
                                  <ul>
                              </div>
                          </div>
                      </li>
                      <!-- <li class="timeline-inverted">
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>July 2014</h4>
                                  <h4 class="subheading">Phase Two Expansion</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                              </div>
                          </div>
                      </li> -->
                      <li class="timeline-inverted">
                          <div class="timeline-image">
                            <h4>Final<br>Product<br>Completed</h4>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </section>


    <!-- Controller Section -->
  <section id="controller" class="bg-light-gray">
      <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Preliminary Controller</h2>
                <!-- <h3 class="section-subheading text-muted">"Upon further consideration, I would like to rescind my vote"</h3> -->
            </div>
          </div>
          <div class="row" style="padding:20px;">
            <div class="col-lg-offset-2 col-lg-8 text-center">
              <img class="img-responsive" src="img/hardware/7.png" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-offset-2 col-lg-8 text-center">
              <p> The controller for Milestone 1 will be a task space controller with a position gain to act on the error between current position and the desired intercept point. These desired coordinated will be updated continuously as the ball’s predicted trajectory is updated. A required velocity will be calculated based on the predicted time of intercept between the paddle and the ball, which will be monitored by a damper to keep the velocity from exceeding hardware limits.</p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-offset-2 col-lg-8 text-center">
              <h4>Controller Tests in Simulation</h3>
            </div>
          </div>
          <div class="row">
              <div class="col-lg-offset-2 col-lg-8">
                <h5>Milestone 1</h5>
                <ul>
                  <li><p class="text-muted">Move the kuka to a default position where the base and end effector are perpendicular and facing away from the ping pong table</p>
                  </li>
                  <li><p class="text-muted">Manually input coordinates of hypothetical ball positions and have the end effector reach the desired position without running into singularities or unstable motions</p></li>
                  <li><p class="text-muted">Input an XY trajectory and move the end effector to reach the trajectory within a certain time</p></li>
                  <li><p class="text-muted">Add a Z component to the trajectory affected by gravity and have the end effector reach a point on the new trajectory within a certain time
                  </p></li>
                <ul>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
              <h5>Milestone 2</h5>
              <ul>
                <li><p class="text-muted">Move kuka end effector to coordinates with a specified orientation throughout the entire path. (paddle should always be perpendicular to the table)</p>
                </li>
                <li><p class="text-muted">Move end effector to reach coordinates at a specified time with a goal velocity
                </p></li>
              <ul>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-offset-2 col-lg-8 text-center">
              <h4>Simulation Video</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
              <video width="100%" height="100%" controls>
                <source src="video/simulation.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
          </div>
      </div>
  </section>

  <!-- Portfolio Grid Section -->
<!--   <section id="portfolio" class="bg-light-gray">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Portfolio</h2>
                  <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
              </div>
          </div>
          <div class="row">
              <div class="col-md-4 col-sm-6 portfolio-item">
                  <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content">
                              <i class="fa fa-plus fa-3x"></i>
                          </div>
                      </div>
                      <img src="img/portfolio/roundicons.png" class="img-responsive" alt="">
                  </a>
                  <div class="portfolio-caption">
                      <h4>Round Icons</h4>
                      <p class="text-muted">Graphic Design</p>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 portfolio-item">
                  <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content">
                              <i class="fa fa-plus fa-3x"></i>
                          </div>
                      </div>
                      <img src="img/portfolio/startup-framework.png" class="img-responsive" alt="">
                  </a>
                  <div class="portfolio-caption">
                      <h4>Startup Framework</h4>
                      <p class="text-muted">Website Design</p>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 portfolio-item">
                  <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content">
                              <i class="fa fa-plus fa-3x"></i>
                          </div>
                      </div>
                      <img src="img/portfolio/treehouse.png" class="img-responsive" alt="">
                  </a>
                  <div class="portfolio-caption">
                      <h4>Treehouse</h4>
                      <p class="text-muted">Website Design</p>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 portfolio-item">
                  <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content">
                              <i class="fa fa-plus fa-3x"></i>
                          </div>
                      </div>
                      <img src="img/portfolio/golden.png" class="img-responsive" alt="">
                  </a>
                  <div class="portfolio-caption">
                      <h4>Golden</h4>
                      <p class="text-muted">Website Design</p>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 portfolio-item">
                  <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content">
                              <i class="fa fa-plus fa-3x"></i>
                          </div>
                      </div>
                      <img src="img/portfolio/escape.png" class="img-responsive" alt="">
                  </a>
                  <div class="portfolio-caption">
                      <h4>Escape</h4>
                      <p class="text-muted">Website Design</p>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 portfolio-item">
                  <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content">
                              <i class="fa fa-plus fa-3x"></i>
                          </div>
                      </div>
                      <img src="img/portfolio/dreams.png" class="img-responsive" alt="">
                  </a>
                  <div class="portfolio-caption">
                      <h4>Dreams</h4>
                      <p class="text-muted">Website Design</p>
                  </div>
              </div>
          </div>
      </div>
  </section> -->

  

  <!-- Hardware Section -->
  <section id="hardware">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Hardware</h2>
                  <h3 class="section-subheading text-muted" style="margin-bottom:0px;">Expected Time With Kuka: 2hrs / 2 times a week</h3>
                  <h3 class="section-subheading text-muted" style="margin-bottom:0px;">Actual Time With Kuka: 12hrs / 3 times in the last week</h3>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-4 text-center">
                <img class="img-responsive" src="img/hardware/1.jpg" alt="">
                <h4>Kuka IIWA</h4>
              </div>
              <div class="col-lg-4 text-center">
                <img class="img-responsive" src="img/hardware/2.jpg" style="padding-top:55px;" alt="">
                <h4>Optitrack Cameras</h4>
              </div>
              <div class="col-lg-4 text-center">
                <img class="img-responsive" src="img/hardware/3.jpg" style="padding:43px 0px;" alt="">
                <h4>Special End Effector</h4>
              </div>
          </div>
          <div class="row" style="padding-top:50px;">
              <div class="col-lg-4 text-center">
                <img class="img-responsive" src="img/hardware/4.jpg" alt="" style="padding:20px 0px;">
                <h4>Ping Pong Table</h4>
              </div>
              <div class="col-lg-4 text-center">
                <img class="img-responsive" src="img/hardware/5.jpg" alt="" style="padding-top:8px;">
                <h4>Ping Pong Paddle</h4>
              </div>
              <div class="col-lg-4 text-center">
                <img class="img-responsive" src="img/hardware/6.jpg" alt="" style="height:248px; margin:auto;">
                <h4>Ping Pong Balls</h4>
              </div>
          </div>
      </div>

  </section>


      <!-- Team Section -->
  <section id="team" class="bg-light-gray">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Our Amazing Team</h2>
                  <!-- <h3 class="section-subheading text-muted">"Upon further consideration, I would like to rescind my vote"</h3> -->
              </div>
          </div>
          <div class="row">
              <div class="col-sm-2 col-sm-offset-2">
                  <div class="team-member">
                      <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                      <h4>Nick Akiona</h4>
                      <p class="text-muted">"I live in the lab."</p>
                      <ul class="list-inline social-buttons">
                          <li><a href="https://www.facebook.com/nick.akiona"><i class="fa fa-facebook"></i></a>
                          </li>
                          <li><a href="https://www.linkedin.com/in/nickakiona"><i class="fa fa-linkedin"></i></a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-sm-2">
                  <div class="team-member">
                      <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                      <h4>Garrett Hara</h4>
                      <p class="text-muted">"I love deers."</p>
                      <ul class="list-inline social-buttons">
                          <li><a href="https://www.facebook.com/garrett.hara.5"><i class="fa fa-facebook"></i></a>
                          </li>
                          <li><a href="https://www.linkedin.com/pub/garrett-hara/45/921/924"><i class="fa fa-linkedin"></i></a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-sm-2">
                  <div class="team-member">
                      <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                      <h4>Travis Le</h4>
                      <p class="text-muted">"The meal isn't over until you hate yourself."</p>
                      <ul class="list-inline social-buttons">
                          <li><a href="https://www.facebook.com/prostrykerz"><i class="fa fa-facebook"></i></a>
                          </li>
                          <li><a href="https://www.linkedin.com/in/travisle"><i class="fa fa-linkedin"></i></a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-sm-2">
                  <div class="team-member">
                      <img src="img/team/4.jpg" class="img-responsive img-circle" alt="">
                      <h4>Sarah Nelson</h4>
                      <p class="text-muted">"Quote? No."</p>
                      <ul class="list-inline social-buttons">
                          <li><a href="https://www.facebook.com/sarah.nelson.31"><i class="fa fa-facebook"></i></a>
                          </li>
                          <li><a href="https://www.linkedin.com/pub/sarah-nelson/24/56a/536"><i class="fa fa-linkedin"></i></a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="row">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Timeline</th>
                  <th>Task</th>
                  <th>Deadline</th>
                  <th>Assigned To</th>
                  <th>Completed</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Milestone 1</th>
                  <td>Create paddle attachment</td>
                  <td>5/14/2015</td>
                  <td>Garrett</td>
                  <td>Yes</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Add IR paint to ball to have it show up on cameras</td>
                  <td>5/14/2015</td>
                  <td>Nick</td>
                  <td>Yes</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Obtain and isolate position output</td>
                  <td>5/14/2015</td>
                  <td>Travis &amp Nick</td>
                  <td>Yes</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Determine velocity and direction of ping pong ball</td>
                  <td>5/14/2015</td>
                  <td>Travis &amp Nick</td>
                  <td>Yes</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Determine future trajectory of ping pong ball</td>
                  <td>5/14/2015</td>
                  <td>Sarah &amp Garrett</td>
                  <td>Yes</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Create simulation with end effector moving to intercept the ball</td>
                  <td>5/14/2015</td>
                  <td>Nick &amp Travis &amp Sarah &amp Garrett</td>
                  <td>Yes</td>
                </tr>
                <tr>
                  <th scope="row">Milestone 2</th>
                  <td>Acquire and assemble Ping Pong Table</td>
                  <td>5/29/2015</td>
                  <td>Nick &amp Travis &amp Sarah &amp Garrett</td>
                  <td>Yes</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Create state machine</td>
                  <td>5/29/2015</td>
                  <td>Nick</td>
                  <td>Yes</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Create Ping Pong class for state machine</td>
                  <td>5/29/2015</td>
                  <td>Travis</td>
                  <td>Yes</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Orientation control</td>
                  <td>5/29/2015</td>
                  <td>Garrett &amp Sarah</td>
                  <td>Yes</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Paddle impact velocity and orientation requirements</td>
                  <td>5/29/2015</td>
                  <td>Sarah</td>
                  <td>Yes</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Controller for paddle trajectory</td>
                  <td>5/29/2015</td>
                  <td>Garrett</td>
                  <td>Yes</td>
                </tr>
              </tbody>
            </table>
          </div>
          <br>
          <br>
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                  <p class="large text-muted">"Talent wins games, but teamwork and intelligence wins championships."<br /><i>--Michael Jordan</i></p>
              </div>
          </div>
      </div>
  </section>

  <!-- Introduction Section -->
  <!-- <section id="introduction" class="bg-light-gray">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Introduction</h2>
                  <h3 class="section-subheading text-muted">Kuka Pong is... </h3>
              </div>
          </div>
      </div>
  </section> -->

   <!-- Background Section -->
  <!-- <section id="background">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Background</h2>
                  <h3 class="section-subheading text-muted">Kuka Pong is... </h3>
              </div>
          </div>
      </div>
  </section> -->

    <!-- Theory Section -->
  <!-- <section id="theory" class="bg-light-gray">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Theory</h2>
                  <h3 class="section-subheading text-muted">Kuka Pong is... </h3>
              </div>
          </div>
      </div>
  </section> -->

   <!-- Experimental Results Section -->
  <!-- <section id="results">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Experimental Results</h2>
                  <h3 class="section-subheading text-muted">Kuka Pong is... </h3>
              </div>
          </div>
      </div>
  </section> -->

      <!-- Conclusion Section -->
  <!-- <section id="conclusion" class="bg-light-gray">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Conclusion</h2>
                  <h3 class="section-subheading text-muted">Kuka Pong is... </h3>
              </div>
          </div>
      </div>
  </section> -->

     <!-- References Section -->
  <!-- <section id="references">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">References</h2>
                  <h3 class="section-subheading text-muted">Kuka Pong is... </h3>
              </div>
          </div>
      </div>
  </section> -->

  <!-- Clients Aside -->
    <!-- <aside class="clients">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img src="http://szimek.github.io/presentation-firebase-intro/images/firebase_logo.png" class="img-responsive img-centered" alt="" />
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img src="http://upload.wikimedia.org/wikipedia/commons/e/ee/Unreal_Engine_logo_and_wordmark.png"  class="img-responsive img-centered" alt=""/>
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img src="http://3dvision-blog.com/wp-content/uploads/2013/03/oculus-logo.jpg" class="img-responsive img-centered" alt=""/> 
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img src="http://every1games.ca/wp-content/uploads/2014/10/Unity-Logo.jpg"  class="img-responsive img-centered" alt=""/>
            </a>
          </div>
        </div>
      </div>
    </aside> -->

  <!-- <section id="contact">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Contact Us</h2>
                  <h3 class="section-subheading text-muted">We will respond within 1 business day.</h3>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-12">
                  <form action="/contact" method="POST" id="contact_form" novalidate>
                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                  <p class="help-block text-danger"></p>
                              </div>
                              <div class="form-group">
                                  <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                  <p class="help-block text-danger"></p>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                  <p class="help-block text-danger"></p>
                              </div>
                          </div>
                          <div class="clearfix"></div>
                          <div class="col-lg-12 text-center">
                              <div id="success"></div>
                              <button type="submit" class="btn btn-xl">Send Message</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </section> -->

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <span class="copyright">Copyright &copy; Kuka Pong 2015</span>
        </div>
        <div class="col-md-6">
          <ul class="list-inline quicklinks">
            <li><a href="http://cs.stanford.edu/groups/manips/teaching/cs225a/">CS225A Course Website</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <% include ../partials/head_js %>
  <% include ../partials/footer_js %>
  <% include ../partials/navbar_js %>

  <script type="text/javascript">
    //Page Specific Javascript
    $(document).ready(function(){
      $("#header_form_submit").click(function(e){
        e.preventDefault()
        var email = $("#header_email_field").val();
        if(email == "") return
        $.post("/signup",{email: email}, function(data) {
          if(data === "Thank You For Your Interest In Early Access") {
            $('#email_modal_label').html("Thank You For Your Interest In Early Access")
            $('#email_modal_body').html("We will be sending you an email when it is your turn in the invite queue.")
            $("#header_email_field").html("")
          } else {
            $('#email_modal_label').html(data)
            $('#email_modal_body').html("Oops! Something went wrong.")
          }
          $('#email_signup_modal').modal('toggle')
        });
      });
    });
    
  </script>
</body>
</html>